@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,900;1,200;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-heavy {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.poppins-mid {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 4.7em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: 1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: "...";
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: "";
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.red-dot::before {
  content: "";
  background-color: red;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 50%;
}
